<!-- <div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Forgot password</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <button type="button" class="btn btn-info" (click)="forgotPassword()">Send Link</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/sign-in" style="text-decoration: none;">Back to <span class="text-danger">Login</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div> -->

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <form>
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Forgot password</h2>
  
                <div class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" name="email" [(ngModel)]="email" placeholder="email"/>
                </div>
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="forgotPassword()">Send Link</button>
  
  
              </div>
  
              <div>
                <p class="mb-0">Go back to <a href="/sign-in" class="text-white-50 fw-bold">Sign In</a>
                </p>
              </div>
            </form>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </section>